h1{
	color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 1; margin-left: 0.5cm; margin-top: 10px;
}

table {
	border-collapse: separate;
	border-spacing: 1px;
	margin-top: 20px;
	margin-left: 1cm;
	border: groove;
	column-gap: 5px;
}
td {
	border: none;
	padding: 5px, 5px, 5px, 5px;
	
	text-align: justified;
}
tr:first-child {
	background: #f1f1f1;
	font-weight: bold;
}
tr:nth-child(even) td { background: #FeFeFe; }   

tr:nth-child(odd) td { background: #F1F1F1; } 
.noreimbursements {
	margin-left: 1cm;
	
}